<li>
  <div class="bootstrap-wysihtml5-insert-image-modal modal fade">
    <div class="modal-dialog {{#if options.smallmodals}}modal-sm{{/if}}">
      <div class="modal-content">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">&times;</a>
          <h3>{{locale.image.insert}}</h3>
        </div>
        <div class="modal-body">
          <input value="" class="bootstrap-wysihtml5-insert-image-url form-control">
          <input type="file" id="fileupload" multiple="" name="files[]">
          <span id="uploaderror" class="text-danger"></span>
          <div id="progress" class="progress">
            <div class="progress-bar progress-bar-success"></div>
          </div>
          <dl class="dl-horizontal" id="attachList"></dl>
        </div>
        <div class="modal-footer">
          <a class="btn btn-default" data-dismiss="modal">{{locale.image.cancel}}</a>
          <a class="btn btn-primary insert-btn" data-dismiss="modal">{{locale.image.insert}}</a>
        </div>
      </div>
    </div>
  </div>
  <a class="btn {{#if options.size}}btn-{{options.size}}{{/if}} btn-default" data-wysihtml5-command="insertImage" title="{{locale.image.insert}}" tabindex="-1">
    <span class="glyphicon glyphicon-picture"></span>
  </a>
</li>
<script>
    $('#fileupload').fileupload({
        url: '/api/upload',
        dataType: 'json',
        autoUpload: true,
        acceptFileTypes: /(\.|\/)(png|jpg|gif|tiff|svg)$/i,
        maxFileSize: 2000000, // 2 MB
        done: function(e, resp) {
            var data = resp.result;
            var table = $('#attachList');
            $.each(data, function(index, file) {
                var fileRow = '<dt>' +
                    file.name +
                    '</dt><dd><i class="fa fa-trash-o" name="' +
                    file.path +
                    '"></i></dd>';
                table.append(fileRow);
                $('.bootstrap-wysihtml5-insert-image-url').attr('value', file.url);
            });
            $('a.insert-btn').removeClass('disabled');
        },
        progressall: function(e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css(
                'width',
                progress + '%'
            );
        },
        processalways: function(e, data) {
            var file = data.files[data.index];
            if (file.error) {
                $('#uploaderror').text(file.error);
                $('a.insert-btn').removeClass('disabled');
            }
        },
        start: function(e) {
            // reset upload error
            $('#uploaderror').text('');
            $('a.insert-btn').addClass('disabled');
            // reset progress bar
            $('#progress .progress-bar').css('width', 0);
        }
    });


    // handle delete event
    $('body').on('click', '.fa-trash-o', function() {
        var toDeleteFile = $(this);
        $.ajax({
            url: '/api/delete',
            type: 'POST',
            traditional: true,
            data: JSON.stringify({path: toDeleteFile.attr('name')}),
            dataType: 'json',
            contentType: 'application/json'
        })
        .done(function(data) {
            var deletedFile = data.deletedFile;
            var dd = $('i[name="' + deletedFile + '"]').parent();
            var dt = dd.prev('dt')
            dd.remove();
            dt.remove();
            $('.bootstrap-wysihtml5-insert-image-url').attr('value', '');
        });

        return false;
    });
</script>
